@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

#banner {
  padding: 80px 0;
  background-color: #f2f2f2;
  h2 {
    font-size: 22px;
  }
  .modal {
    width: 90%;
    margin: 0 auto;
    right: 0;
  }
  &:after {
    background: url(../../pages/assets/img/home/cricle_right.svg) no-repeat;
    right: -10%;
    top: -27%;
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    background-size: 100% 100%;
    pointer-events: none;
  }
  .letsgo {
    img {
      width: 60px;
      padding-top: 23px;
    }
  }
  .slogan {
    font-size: 14px;
    color: #7B7E83;
    position: relative;
    z-index: 10;
  }
  .pile-img {
    position: relative;
    z-index: 1;
  }
  .pile-img img {
    width: 477px;
  }
  .cricle-img1 {
    left: -59px;
    bottom: 0%;
    width: 235px;
    position: absolute;
  }
  .cricle-img2 {
    left: -13%;
    top: 54%;
    width: 30px;
    position: absolute;
  }

  .play-btn {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    overflow: hidden;
    box-shadow: 0 0 10px #ccc;
    cursor: pointer;
    z-index: 10;
  }

  .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #585858;
    z-index: 100;
  }

  .play-btn:hover::after {
    border-left: 5px solid #00A773;
    transform: scale(20);
  }

  .play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    animation: none;
    border-radius: 0;
  }
}
.btn-get-started {
  font-family: "Montserrat-SemiBold";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 12px 50px;
  border-radius: 5px;
  transition: 0.5s;
  text-align: center;
  color: #fff;
  background: #00A773;
  border: 2px solid #00A773;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.12);
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.12);
}
.btn-get-started:hover {
  background-color: #fff;
  border: 2px solid #00A773;
  color: #00A773;
  box-shadow: none;
}
.btn-get-started-border {
  font-family: "Montserrat-SemiBold";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 12px 50px;
  border-radius: 7px;
  transition: 0.5s;
  text-align: center;
  background: #fff;
  border: 2px solid #00A773;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.12);
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.12);
}
.btn-get-started-border:hover{
  background: #00A773;
  border: 2px solid #fff;
  box-shadow: none;
}
.btn-get-contact {
  font-family: "Montserrat-SemiBold";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 14px 50px;
  border-radius: 5px;
  transition: 0.5s;
  color: #00A773;
  background: #fff;
  border: 2px solid #00A773;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.12);
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.12);
}

.btn-get-contact:hover {
  background: #00A773;
  color: #fff;
  box-shadow: none;
}

.btn-get-started-border:hover {
  color: #fff;
}

.stage {
  width: auto;
  height: 50px;
  line-height: 50px;
}
.cubespinner {
  -webkit-animation-name: spincube;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 25px 25px 0;
  -moz-transform-origin: 25px 25px 0;
  -ms-transform-origin: 25px 25px 0;
  transform-origin: 25px 25px 0;
}
.cubespinner div {
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #00A773;
  font-family: "Montserrat-SemiBold";
  font-size: 22px;
  text-transform: uppercase;
}
.cubespinner .face1 {
  -webkit-transform: translateZ(25px);
  -moz-transform: translateZ(25px);
  -ms-transform: translateZ(25px);
  transform: translateZ(25px);
  -webkit-backface-visibility: hidden;
}
.cubespinner .face2 {
  -webkit-transform: rotateX(120deg) translateZ(25px);
  -moz-transform: rotateX(120deg) translateZ(25px);
  -ms-transform: rotateX(120deg) translateZ(25px);
  transform: rotateX(120deg) translateZ(25px);
  -webkit-backface-visibility: hidden;
}
.cubespinner .face3 {
  -webkit-transform: rotateX(240deg) translateZ(25px);
  -moz-transform: rotateX(240deg) translateZ(25px);
  -ms-transform: rotateX(240deg) translateZ(25px);
  transform: rotateX(240deg) translateZ(25px);
  -webkit-backface-visibility: hidden;
}

/*Cubical Flipping or rotation*/
@-webkit-keyframes spincube {
  from,
  to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  15% {
    -webkit-transform: rotateX(120deg);
  }
  35% {
    -webkit-transform: rotateX(120deg);
  }
  55% {
    -webkit-transform: rotateX(240deg);
  }
  70% {
    -webkit-transform: rotateX(240deg);
  }
  85% {
    -webkit-transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
  }
}
@keyframes spincube {
  from,
  to {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  15% {
    -webkit-transform: rotateX(120deg);
    -moz-transform: rotateX(120deg);
    -ms-transform: rotateX(120deg);
    transform: rotateX(120deg);
  }
  35% {
    -webkit-transform: rotateX(120deg);
    -moz-transform: rotateX(120deg);
    -ms-transform: rotateX(120deg);
    transform: rotateX(120deg);
  }
  55% {
    -webkit-transform: rotateX(240deg);
    -moz-transform: rotateX(240deg);
    -ms-transform: rotateX(240deg);
    transform: rotateX(240deg);
  }
  70% {
    -webkit-transform: rotateX(240deg);
    -moz-transform: rotateX(240deg);
    -ms-transform: rotateX(240deg);
    transform: rotateX(240deg);
  }
  85% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
    -moz-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }
}

.owl-clients {
  .owl-stage-outer {
    padding: 20px 0;
  }
  img {
    max-width: 60%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    filter: grayscale(-100);
    &:hover {
      filter: none;
      transform: scale(1.1);
    }
  }
}

#footer {
  .owl-clients {
    img {
      filter: brightness(0) invert(1);
      margin: 0 auto;
      &:hover {
        filter: none;
      }
    }
  }
}


#clients {
  padding: 15px 0;
  text-align: center;
  background-color: #f2f2f2;
  .owl-stage {
    display: flex;
    align-items: center;
  }
  h2.title-clients {
    font-family: "Montserrat-Bold";
    font-size: 18px;
  }
}

#subject {
  font-family: "Montserrat-Bold";
  background-color: #f2f2f2;
  h2.title-subject {
    font-size: 30px;
  }
  p {
    font-size: 17px;
    background-color: #E3E3E3;
    border-radius: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: #00A773;
      color: #fff;
    }
  }
  .owl-carousel .owl-stage-outer {
    overflow: inherit;
    .owl-item {
      opacity: 0.5;
      &.active {
        opacity: 1;
      }
    }
  }
}

#support {
  padding: 70px 0;
  .title-support {
    font-size: 30px;
    font-family: "Montserrat-Bold";
  }
  .hotline {
    font-size: 20px;
    color: #0F232D;
    span {
      color: #00A773;
      font-family: "Montserrat-SemiBold";
    }
  }
  .ar-support {
    padding: 0 90px;
    p {
      &.img {
        img {
          height: 155px;
        }
      }
      &.title {
        font-size: 14px;
        color: #0F232D;
      }
    }
  }
}

#connect {
  background-color: #F3F4EF;
  padding: 70px 0;
  .connect-content {
    display: none;
  }
  .owl-nav {
    position: absolute;
    bottom: -54px;
    left: 0;
    margin: 0;
  }
  .connect-bottom {
    padding-left: 130px;
    p {
      font-family: "Montserrat-Medium";
    }
  }
  .owl-dots {
    padding: 35px 0 30px;
  }
  .see-all {
    font-family: "Montserrat-SemiBold";
  }
  h2.title-connect {
    font-size: 45px;
    line-height: 60px;
    font-family: "Montserrat-Bold";
  }
  .tab-connect {
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 30px;
    margin: 20px 0 50px;
      li {
        padding: 10px 40px;
        font-family: "Montserrat-SemiBold";
        cursor: pointer;
        &.active {
          background-color: #00A773;
          color: #fff;
          border-radius: 30px;
          -webkit-box-shadow: 0px 5px 15px -2px rgba(0,167,115,0.66);
          -moz-box-shadow: 0px 5px 15px -2px rgba(0,167,115,0.66);
          box-shadow: 0px 5px 15px -2px rgba(0,167,115,0.66);
        }
      }
  }
  .ar-connect {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: all 0.5s;
    &:hover {
      border: 2px solid #00A773;
      .btn-get-started-border {
        background-color: #00A773;
        border: 2px solid #00A773;
        color: #fff;
      }
    }
    .user {
      p {
        &.img {
          width: 65px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
          }
        }
        &.name {
          font-size: 16px;
          font-family: "Montserrat-SemiBold";
          span {
            text-transform: capitalize;
            display: block;
            font-size: 12px;
            color: #7B7E83;
            font-family: "Montserrat-Medium";
          }
        }
      }
    }
    .btn-get-started-border {
      display: inherit;
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
    p {
      &.des {
        font-size: 14px;
        a {
          color: #00A773;
        }
      }
      &.id {
        font-size: 12px;
        span {
          font-family: "Montserrat-SemiBold";
        }
      }
      &.price {
        color: #7B7E83;
        text-transform: uppercase;
        font-size: 12px;
        span {
          font-family: "Montserrat-Bold";
          font-size: 22px;
          color: #0F232D;
          display: block;
        }
      }
    }
    dl {
      dt {
        font-size: 12px;
        color: #7B7E83;
        margin-bottom: 5px;
      }
      dd {
        font-size: 13px;
        padding-left: 12px;
        margin: 0;
        &:after {
          position: absolute;
          content: "";
          width: 5px;
          height: 5px;
          background-color: #000;
          border-radius: 50%;
          left: 0;
          top: 7px;
        }
      }
    }
  }
}


#evaluate {
  background: #096958 ;
  background-size: cover;
  padding: 70px 0 70px;
  z-index: 10;
  overflow: inherit;
  margin-bottom: 50px;
  .owl-nav {
    text-align: left;
    margin: 0;
  }
  p.fly {
    position: absolute;
    left: -30%;
    bottom: -110px;
    width: 89%;
    z-index: 99;
  }
  h2 {
    font-size: 36px;
    font-family: "Montserrat-SemiBold";
    color: #fff;
    line-height: 50px;
  }
  &:after {
    position: absolute;
    content: "";
    background: #F2F2F2 url(../../pages/assets/img/home/wave.svg) no-repeat center bottom;
    background-size: cover;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 50px;
  }
  .hangout-icon {
    width: 44px;
  }
  .ar-evaluate {
    color: #fff;
    p.des {
      line-height: 25px;
    }
    .user {
      p {
        &.img {
          width: 55px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
          }
        }
        &.name {
          text-transform: uppercase;
          font-size: 14px;
          font-family: "Montserrat-Medium";
          span {
            text-transform: capitalize;
            display: block;
            font-size: 12px;
          }
        }
      }
    }
  }
}


#faq {
  padding: 100px 0 40px;
  background-color: #F2F2F2;
  h2.title-faq {
    font-size: 50px;
    font-family: "Montserrat-Bold";
    margin-bottom: 80px;
  }
  .container {
    max-width: 1000px;
  }
  .content-faq {
    dl {
      border-bottom: 1px solid #3E403F;
      padding-bottom: 35px;
      margin-bottom: 35px;
      &:last-child {
        border: none;
      }
      dd {
        font-size: 16px;
        font-family: "Montserrat-Medium";
        color: #565A5D;
        display: none;
        padding-top: 35px;
      }
      dt {
        font-size: 20px;
        font-family: "Montserrat-Bold";
        padding-right: 50px;
        cursor: pointer;
        color: #504F4F;
        &:hover {
          color: #000;
          &:after {
            border-bottom-width: 3px;
            border-right-width: 3px;
            border-color: #00A773;
          }
        }
        &:after {
          right: 0;
          top: 7px;
          position: absolute;
          content: "";
          box-sizing: border-box;
          height: 12px;
          width: 12px;
          border-style: solid;
          border-color: #000;
          border-width: 0px 1px 1px 0px;
          transform: rotate(45deg);
          transition: border-width 50ms ease-in-out;
        }
      }
      &.active {
        dt {
          color: #000;
          &:after {
            transform: rotate(225deg) !important;
            top: 13px;
          }
        }
      }
    }
  }
}


#contact {
  background-color: #F2F2F2;
  .contact-banner {
    background: url("../../pages/assets/img/home/banner-bg.svg") no-repeat;
    background-size: 100% 100%;
    color: #fff;
    padding: 60px 80px;
    h2 {
      font-size: 28px;
      font-family: "Montserrat-SemiBold";
      line-height: 40px;
    }
    .call {
      font-family: "Montserrat-SemiBold";
      color: #fff;
      img {
        width: 21px;
        margin-right: 10px;
      }
    }
  }
  ul {
    li {
      padding: 0 7%;
      img {
        width: 75px;
      }
      span {
        display: block;
        font-size: 14px;
        font-family: "Montserrat-Medium";
        margin-top: 10px;
      }
    }
  }
}

#footer {
  background-color: #3E403F;
  color: #fff;
  padding: 20px 0;
  .owl-stage {
    display: flex;
    align-items: center;
  }
  h2.footer-title {
    font-size: 47px;
    font-family: "Montserrat-SemiBold";
    width: 65%;
    margin: 40px auto 40px;
  }
  p.des {
    font-size: 22px;
    line-height: 30px;
  }
  .letsgo {
    img {
      width: 60px;
      padding-top: 23px;
    }
  }
  .footer-bottom {
    font-size: 15px;
    margin-top: 60px;
    ul {
      li {
        padding-left: 25px;
        a {
          color: #fff;
        }
      }
    }
  }
}

#header {
  .navbar li {
    &.mobile {
      display: none;
    }
  }
}

#contact-page {
  background: #F2F2F2 url(../../pages/assets/img/contact/bg.svg) no-repeat center top -150px;
  background-size: 100%;
  padding: 100px 0;
  .container {
    max-width: 1000px;
  }
  h2 {
    font-size: 50px;
    font-family: "Montserrat-Bold";
  }
  p.des {
    font-size: 18px;
    line-height: 30px;
    color: #2A4440;
    margin: 20px 0 100px;
  }
  p.mail-img {
    margin: 90px 0 80px -100px;
    img {
      width: 80%;
    }
  }
  .info {
    h3 {
      font-size: 26px;
      font-family: "Montserrat-SemiBold";
      margin-bottom: 35px;
    }
    dl {
      margin: 0 0 25px;
      dt {
        padding-right: 15px;
        img {
          width: 20px;
          height: auto;
        }
      }
      dd {
        font-family: "Montserrat-Medium";
        color: #1C1C1C;
        margin: 0;
        &.hotline {
          color: #00A773;
          font-family: "Montserrat-Bold";
          font-size: 26px;
        }
      }
    }
  }
  ul.social {
    margin-top: 60px;
    li {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
      img {
        width: 45px;
      }
    }
  }
  .box-contact {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    .title-contact {
      font-size: 26px;
      font-family: "Montserrat-SemiBold";
      margin-bottom: 20px;
    }
    .btn-get-started {
      margin-top: 15px;
    }
    dl {
      margin-bottom: 15px;
      dt {
        font-size: 14px;
        font-family: "Montserrat-Medium";
        margin-bottom: 10px;
        font-weight: normal;
      }
      dd {
        input {
          height: 45px;
        }
        input, textarea {
          border: 2px solid #CED4DA;
          font-size: 14px;
          &:focus {
            border: 2px solid #00A773;
            outline: none;
            box-shadow: none;
          }
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #c0c7d6;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: #c0c7d6;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: #c0c7d6;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: #c0c7d6;
          }
        }
      }
    }
  }
}

#login {
  background-color: #F3F5F7;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  h1.logo {
    width: 105px;
    margin: 60px auto 60px;
  }
  .container {
    width: 400px;
  }
  .remember {
    font-size: 14px;
    p {
      color: #6D7992;
      label {
        padding-left: 5px;
      }
      a.forgot-password {
        color: #00A773;
      }
    }
  }
  p.no-account {
    margin: 30px 0 15px;
    font-size: 14px;
  }
  .footer-bottom {
    font-size: 15px;
    margin-top: 60px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    p {
      margin: 0;
    }
    p.weup {
      width: 47px;
      margin: 0 auto;
    }
    &.container {
      width: 1200px;
    }
    ul {
      li {
        padding-left: 25px;
        a {
          color: #0f232d;
        }
      }
    }
  }

  .box-login {
    .title-login {
      font-size: 26px;
      font-family: "Montserrat-SemiBold";
      margin-bottom: 20px;
    }
    .btn-get-started {
      margin-top: 15px;
    }
    dl {
      margin-bottom: 15px;
      dt {
        font-size: 14px;
        font-family: "Montserrat-Medium";
        margin-bottom: 10px;
        font-weight: normal;
      }
      dd {
        span.eye {
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
          width: 15px;
          cursor: pointer;
        }
        input {
          height: 45px;
        }
        input, textarea {
          border: 2px solid #CED4DA;
          font-size: 14px;
          &:focus {
            border: 2px solid #00A773;
            outline: none;
            box-shadow: none;
          }
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #c0c7d6;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: #c0c7d6;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: #c0c7d6;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: #c0c7d6;
          }
        }
      }
    }
  }
}

#register {
  h1.logo {
    img {
      filter: brightness(0) invert(1);
    }
  }
  .left-register {
    position: fixed;
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    background-color: #096958;
    color: #fff;
    padding: 5% 3%;
    ul {
      li {
        display: flex;
        align-items: center;
        padding: 10px 0;
        font-size: 12px;
        img {
          width: 25px;
          margin-right: 10px;
        }
      }
    }
    h1.logo {
      width: 105px;
      margin-bottom: 25%;
    }
    h2 {
      font-size: 36px;
      font-family: "Montserrat-Bold";
      margin: 0;
    }
    p {
      &.required {
        font-size: 26px;
      }
      &.des {
        font-size: 12px;
        margin: 30px 0;
      }
    }
  }
  .right-register {
    width: 100%;
    padding: 4% 0 4% 25%;
    .box-register {
      width: 400px;
      margin-left: 200px;
      .type-account {
        margin-bottom: 100px;
        position: relative;
        .title-type {
          font-size: 18px;
          color: #00A773;
          font-family: "Montserrat-SemiBold";
        }
        .ar-type {
          &.active {
            p.des {
              display: block;
            }
            .box-type {
              p {
                &.icon-checked {
                  -webkit-filter: none;
                  filter: none;
                  opacity: 1;
                }
                &.icon-type {
                  svg {
                    path {
                      fill: #146AF0;
                    }
                  }
                }
                &.name {
                  color: #146AF0;
                }
              }
            }
          }
          &:first-child {
            p.des {
              &:after, &:before {
                left: 15% !important;
              }
            }
          }
          &:last-child {
            p.des {
              &:after, &:before {
                left: 85% !important;
              }
            }
          }
          .box-type {
            position: relative;
            padding: 15px;
            background-color: #fff;
            border: 1px solid #E7EBEF;
            border-radius: 7px;
            margin-bottom: 8px;
            cursor: pointer;
            p {
              &.icon-type {
                margin-bottom: 8px;
                svg {
                  height: 33px;
                  path {
                    fill: #AEAEAE;
                  }
                }
              }
              &.icon-checked {
                width: 20px;
                position: absolute;
                right: 10px;
                top: 5px;
                margin: 0;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                opacity: 0.4;
              }
              &.name {
                font-size: 14px;
                color: #606060;
                margin: 0;
              }
            }
          }
          p {
            &.des {
              margin: 0;
              display: none;
              position: absolute;
              left: 0;
              background: #D4FBDE;
              border: 1px solid #BBECC8;
              border-radius: 7px;
              padding: 10px;
              font-size: 14px;
              width: 400px;
              &:after, &:before {
                bottom: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
              }
              &:after {
                border-color: rgba(136, 183, 213, 0);
                border-bottom-color: #D4FBDE;
                border-width: 8px;
                margin-left: -10px;
              }
              &:before {
                border-color: rgba(194, 225, 245, 0);
                border-bottom-color: #BBECC8;
                border-width: 10px;
                margin-left: -12px;
              }
            }
          }
        }
      }
      .agree {
        p {
          label {
            padding-left: 5px;
            a {
              text-decoration: underline;
            }
          }
        }
      }
      .title-register {
        font-size: 26px;
        font-family: "Montserrat-SemiBold";
        margin-bottom: 20px;
      }
      p.no-account {
        margin: 30px 0 15px;
        font-size: 14px;
      }
      .btn-get-started {
        margin-top: 15px;
      }
      dl {
        margin-bottom: 15px;
        dt {
          font-size: 14px;
          font-family: "Montserrat-Medium";
          margin-bottom: 10px;
          font-weight: normal;
        }
        dd {
          span.eye {
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            width: 15px;
            cursor: pointer;
          }
          input {
            height: 45px;
          }
          input, textarea {
            border: 2px solid #CED4DA;
            font-size: 14px;
            &:focus {
              border: 2px solid #00A773;
              outline: none;
              box-shadow: none;
            }
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
              color: #c0c7d6;
            }
            &::-moz-placeholder { /* Firefox 19+ */
              color: #c0c7d6;
            }
            &:-ms-input-placeholder { /* IE 10+ */
              color: #c0c7d6;
            }
            &:-moz-placeholder { /* Firefox 18- */
              color: #c0c7d6;
            }
          }
        }
      }
    }
  }

}

/* Large desktops and laptops */
@media (max-width: 1199px) {
  #login {
    .footer-bottom {
      &.container {
        width: auto;
      }
    }
  }
}

/* Large desktops and laptops */
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar a, .navbar a:focus {
    padding: 10px 20px 10px 0;
    font-size: 12px;
  }
}

/* Large desktops and laptops */
@media (max-width: 991px) {
  #register {
    .left-register {
      h2 {
        font-size: 20px;
      }
      p {
        &.required {
          font-size: 16px;
        }
      }
    }
    .right-register {
      .box-register {
        margin-left: 10%;
      }
    }
  }
  #banner .pile-img img {
    width: 100%;
  }
  .navbar .dropdown ul {
    background-color: #00A773;
  }
  .navbar .dropdown ul li:hover > a {
    background-color: #00A773;
    color: #fff;
  }
  #header {
    nav.desktop {
      display: none;
    }
    .navbar li {
      &.mobile {
        display: block;
        &.btn {
          display: inline-block;
          a {
            margin: 0;
          }
        }
        a {
          justify-content: start;
        }
      }
    }
  }
  .cubespinner div {
    font-size: 15px;
  }
  #support .ar-support {
    padding: 0px 5%;
  }
}

/* Large desktops and laptops */
@media (max-width: 767px) {
  #header {
    padding: 4vw 0;
    h1.logo {
      img {
        width: 12vw;
        height: auto;
      }
    }
  }
  #banner {
    h2 {
      font-size: 15px;
    }
    .cubespinner div {
      // height: 25px;
      // line-height: 25px;
      font-size: 15px;
    }
    iframe#player {
      height: 50vh;
      margin-bottom: -7px;
    }
    .modal-body {
      padding: 0;
    }
  }
  .owl-clients {
    img {
      margin: 0 auto;
      max-width: 80%;
    }
    .owl-stage-outer {
      padding-bottom: 0;
    }
  }
  #clients h2.title-clients {
    font-size: 4.5vw;
  }
  #subject {
    h2.title-subject {
      font-size: 4.5vw;
    }
    p {
      font-size: 3.2vw;
    }
  }
  #support {
    padding: 10vw 0;
    .title-support {
      font-size: 4.5vw;
    }
    .hotline {
      font-size: 3.5vw;
    }
    .ar-support {
      p.title {
        font-size: 3.5vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .btn-get-started-border, .btn-get-started {
    font-size: 4vw;
    padding: 3vw 3vw;
  }
  #connect {
    padding: 10vw 0;
    .ar-connect {
      padding: 10vw 8vw !important;
    }
    .see-all {
      font-size: 3.5vw;
      width: 40%;
      text-align: left;
    }
    .connect-bottom {
      padding: 3vw 0;
      justify-content: space-between !important;
      p {
        width: 60%;
        font-size: 3.5vw;
        text-align: right;
        a {
          margin-top: 3vw;
          padding: 2vw 6vw;
        }
      }
    }
    .owl-nav {
      position: relative;
      bottom: 0;
      margin: 5vw 0;
    }
    .connect-bottom {
      padding-left: 0;
    }
    h2.title-connect {
      font-size: 4vw;
      line-height: 7.5vw;
      text-transform: uppercase;
    }
    .tab-connect {
      li {
        padding: 3vw 5vw;
        font-size: 3.5vw;
      }
    }
    .ar-connect {
      p {
        &.id {
          font-size: 3vw;
        }
        &.price {
          font-size: 3vw;
          span {
            font-size: 4.5vw;
            margin-top: 1vw;
          }
        }
        &.des {
          font-size: 3.5vw;
        }
      }
      dl {
        dt {
          font-size: 3vw;
        }
        dd {
          font-size: 3vw;
        }
      }
    }
  }
  #evaluate {
    padding: 10vw 0;
    h2 {
      font-size: 6vw;
      line-height: 9vw;
    }
    .evaluate-left {
      position: initial !important;
    }
    p.fly {
      position: absolute;
      left: 0;
      bottom: -17vw;
      width: 100%;
      z-index: 99;
      text-align: right;
      padding-right: 10vw;
      pointer-events: none;
      z-index: 1;
      img {
        height: 35vw;
        width: auto;
      }
    }
    .ar-evaluate {
      .user {

      }
      p.des {
        line-height: 25px;
        font-size: 4vw;
      }
    }
    .hangout-icon {
      width: 7%;
      margin: 7vw 0 0;
    }
  }
  #faq {
    padding: 13vw 0 10vw;
    h2.title-faq {
      font-size: 7vw;
      font-family: "Montserrat-Bold";
      margin-bottom: 10vw;
    }
    .content-faq {
      dl {
        padding-bottom: 5vw;
        margin-bottom: 5vw;
        dt {
          font-size: 4vw;
          font-family: "Montserrat-Bold";
          padding-right: 10vw;
          cursor: pointer;
          color: #504F4F;
        }
        dd {
          font-size: 3.5vw;
          padding-top: 4vw;
        }
      }
    }
  }
  #contact {
    .contact-banner {
      background-size: cover;
      padding: 6vw;
      border-radius: 4vw;
      .call {
        font-size: 4vw;
      }
      h2 {
        font-size: 4vw;
        line-height: 7vw;
        margin-bottom: 5vw;
      }
    }
    ul {
      li {
        padding: 3vw 0;
      }
    }
  }
  #footer {
    h2.footer-title {
      font-size: 7vw;
      width: 100%;
      margin: 5vw 0;
      line-height: 10vw;
    }
    p.des {
      font-size: 3.5vw;
      line-height: 7vw;
      margin-bottom: 0;
    }
    .weup {
      width: 10%;
      margin: 4vw auto 4vw;
    }
    .footer-bottom {
      font-size: 3vw;
      margin-top: 10vw;
      opacity: 0.8;
      text-align: center;
      p.copyright {
        margin-bottom: 0;
      }
      ul {
        justify-content: center;
        display: block !important;
        li {
          padding-left: 0;
          margin: 2vw 0;
        }
      }
    }
  }
  #login {
    .footer-bottom {
      font-size: 3vw;
      margin-top: 10vw;
      opacity: 0.8;
      text-align: center;
      p.copyright {
        margin-bottom: 0;
      }
      ul {
        justify-content: center;
        display: block !important;
        li {
          padding-left: 0;
          margin: 2vw 0;
        }
      }
    }
  }
  .btn-get-contact {
    padding: 2vw 6vw;
  }
  #contact-page {
    background: #F2F2F2 url(../../pages/assets/img/contact/bg.svg) no-repeat center top;
    background-size: cover;
    padding: 10vw 0;
    h2 {
      font-size: 6vw;
    }
    p.des {
      font-size: 4vw;
      line-height: 6.5vw;
      margin: 4vw 0 5vw;
    }
    p.mail-img {
      margin: 0;
      text-align: center;
    }
    .info {
      h3 {
        font-size: 5vw;
        margin-bottom: 5vw;
      }
      dl {
        margin-bottom: 3.5vw;
        dd {
          font-size: 4vw;
          &.hotline {
            font-size: 7vw;
          }
        }
      }
    }
    ul.social {
      margin: 5vw 0 5vw;
    }
    .box-contact {
      padding: 5vw 6vw;
      border-radius: 2vw;
      dl {
        dt {
          font-size: 3.5vw;
          margin-bottom: 2vw;
        }
        dd {
          input {
            height: 11vw;
          }
          textarea, input {
            font-size: 3vw;
          }
        }
      }
      .title-contact {
        font-size: 6vw;
        margin-bottom: 4vw;
      }
    }
  }
  #login {
    h1.logo {
      width: 20%;
      margin: 10vw auto;
    }
    .container{
      width: auto;
    }
    .footer-bottom {
      position: relative;
      bottom: auto;
      p.weup {
        margin: 4vw auto;
      }
    }
    .box-login {
      padding: 0vw 3vw;
      .title-login {
        font-size: 6vw;
        margin-bottom: 4vw;
      }
      dl {
        dt {
          font-size: 3.5vw;
          margin-bottom: 2vw;
        }
        dd {
          input {
            height: 11vw;
          }
          textarea, input {
            font-size: 3vw;
          }
        }
      }
      .title-contact {
        font-size: 6vw;
        margin-bottom: 4vw;
      }
    }
  }
  #register {
    .left-register {
      width: 100%;
      position: relative;
      text-align: center;
      h2 {
        font-size: 5vw;
      }
      h1.logo {
        width: 15%;
        margin: 0 auto 5vw;
      }
      p {
        &.required {
          margin: 0vw 0 3vw;
          font-size: 3.5vw;
        }
        &.des {
          margin: 2vw 0 0;
        }
      }
      ul {
        display: none;
      }
    }
    .right-register {
      padding: 0;
      .box-register {
        margin: 7vw auto 12vw;
        width: 90%;
        dl {
          dt {
            font-size: 3.5vw;
            margin-bottom: 2vw;
          }
          dd {
            input {
              height: 11vw;
            }
            textarea, input {
              font-size: 3vw;
            }
          }
        }
        .title-contact {
          font-size: 6vw;
          margin-bottom: 4vw;
        }
        p.no-account {
          margin: 7vw 0 3vw;
          font-size: 3.5vw;
        }
        .agree {
          font-size: 3.5vw;
        }
        .title-register {
          font-size: 5.5vw;
        }
        .type-account {
          margin-bottom: 20vw;
          .title-type {
            font-size: 4vw;
          }
          .ar-type {
            .box-type {
              padding: 3vw;
              p.name {
                font-size: 3vw;
              }
            }
            p.des {
              width: 100%;
              padding: 2vw 3vw;
              font-size: 3.5vw;
            }
          }
        }
      }
    }
  }
}

/* Large desktops and laptops */
@media (max-width: 480px) {
  #banner {
    padding: 10vw 0;
    &:after {
      width: 100%;
      height: 100%;
      right: auto;
      left: -10%;
      top: -22%;
  }
    h2 {
      font-size: 3vw;
    }
    .cubespinner div {
      font-size: 3vw;
    }
    .slogan {
      font-size: 14px;
    }
    .cricle-img1 {
      left: 20%;
      bottom: 0%;
      width: 60%;
      position: absolute;
    }
    .play-btn {
      left: 75%;
      top: auto;
      bottom: 35%;
    }
  }
}
